/* Write your styles */
#html_content{padding-bottom: 40px;}
#html_content .top_state{height: 140px; padding: 10px; position: relative; background-color: #17b297;}
#html_content .top_state .state_message_max{height: 30px; line-height: 30px; font-size: 20px; margin: 30px 5px 15px 120px; color: #fff;}
#html_content .top_state .state_message_min{height: 15px; line-height: 15px; font-size: 13px; margin: 5px 5px 25px 120px; color: #fff;}
#html_content .top_state .state_images{width: 90px; height: 90px; position: absolute; top: 25px; left: 30px;}
#html_content .top_state .state_images img{width: 100%; height: 100%;}
#html_content .timer_shaft{border-bottom: 1px solid #17b299;}
#html_content .timer_shaft .line{position: relative;}
#html_content .timer_shaft .line:after{content:'';display:block;clear:both;height:0px;}
#html_content .timer_shaft .line .shaft{width: 25px; height: 100%; margin: 0 7.5px; position: absolute; top: 0; left: 0; background: url("../images/await-icon.png") repeat-y; background-size: 200px 25px;}
#html_content .timer_shaft .line .bug_cover{margin-left: 40px; margin-right: 5px; border: 0.1px solid transparent;}
#html_content .timer_shaft .line .shaft_content{margin: 5px 0; border-radius: 5px; overflow: hidden; background: #fff;}
#html_content .timer_shaft .line .shaft_content .content_title{line-height: 30px; padding: 0 10px; background-color: #17b299; color: #fff;}
#html_content .timer_shaft .line .shaft_content .content_title.warning{background-color: #ff353d;}

#html_content ul li,
#html_content ul li{height: 35px; line-height: 35px; font-size: 12px; border-top: 1px solid #e4e4e4; margin: 0 5px;}
#html_content ul li:first-child,
#html_content ul li:first-child{border-top-width: 0;}
#html_content .plate_content_left{width: 75px; padding-left: 5px; float: left; text-align: left;}
#html_content .plate_content_right{margin-left: 75px; padding-right: 10px; word-wrap: normal; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
#html_content .plate_content_right .img_list{height: 75px; overflow: auto; word-wrap: normal;}
#html_content .plate_content_right .img_list li{display: inline-block; width: 65px; height: 65px; margin: 5px; position: relative;}
#html_content .plate_content_right .img_list li img{width: 100%; height: 100%; position: absolute; top: 0; left: 0;}

#html_content .timer_shaft .line .shaft_content .content .count_down{display: inline-block; font-size: 14px; margin-bottom: -10px;}
#html_content .timer_shaft .line .shaft_content .content .count_down .count_down_val{height: 24px; background-color: #323232; color: #fff; padding: 0 1px; float: left; margin: 8px 1px; line-height: 24px;}
#html_content .timer_shaft .line .shaft_content .content .count_down .division{float: left; line-height: 24px; margin: 8px 1px;}
#html_content .timer_shaft .line .shaft_content .content .count_down .second .count_down_val{background-color: #ff464e;}

#html_content .plate{background-color: #fff; margin-top: 15px;}
#html_content .plate .plate_title{height: 35px; line-height: 25px; font-size: 14px; color: #222222; padding: 5px; padding-left: 35px; position: relative; border-bottom: 1px solid #e4e4e4;}
#html_content .plate .plate_title .title-icon{display: block; width: 25px; height: 25px; overflow: hidden; position: absolute; top: 5px; left: 10px;}
#html_content .plate .plate_title i.evaluate-icon{background: url("../images/patrol-icon.png") no-repeat 0 0;}
#html_content .plate .plate_title i.dispose-icon{background: url("../images/patrol-icon.png") no-repeat 0 -25px;}
#html_content .plate .plate_title i.shop-icon{background: url("../images/patrol-icon.png") no-repeat 0 -50px;}
#html_content .plate .plate_title i.user-icon img{width: 100%; height: 100%;}
#html_content .plate .plate_content{padding-left: 10px;}
#html_content .plate .plate_content .accomplish{text-align: center; height: 45px; line-height: 35px; font-size: 14px; padding: 5px 0;}
#html_content .plate .plate_content .accomplish i.am-icon-check{display: inline-block; width: 35px; height: 35px; line-height: 35px; text-align: center; font-size: 20px; color: #fff; border-radius: 90px; background-color: #f8b82c;}

#html_content .await-icon{display: block; width: 25px; height: 25px; margin-top: 8px; background-image: url("../images/await-icon.png"); background-size: 200px 25px;}
#html_content .shaft-dot{background-position-x: -25px;}
#html_content .shaft-dot-warning{background-position-x: -50px;}
#html_content .active-star-icon{background-position-x: -75px; margin: 0; display: inline-block; vertical-align: sub; position: relative; top: 1px;}
#html_content .star-icon{background-position-x: -100px; margin: 0; display: inline-block; vertical-align: sub; position: relative; top: 1px;}
#html_content .laugh-icon{background-image: url("../images/laugh-icon.png"); background-size: 25px 25px; margin: 0; margin-right: 10px; display: inline-block; vertical-align: sub; position: relative; top: 1px;}
#html_content .cry-icon{background-image: url("../images/cry-icon.png"); background-size: 25px 25px; margin: 0; margin-right: 10px; display: inline-block; vertical-align: sub; position: relative; top: 1px;}
#html_content .discretion-icon{background-position-x: -125px; margin: 0; display: inline-block; vertical-align: sub; position: relative; top: 5px;}
#html_content .inveracious-icon{background-position-x: -150px; margin: 0; display: inline-block; vertical-align: sub; position: relative; top: 5px;}
#html_content .sham-icon{background-position-x: -175px; margin: 0 auto;}

.bottom_fixed{width: 100%; position: fixed; bottom: 0; left: 0;}
.dispose_button,
.evaluate_button,
.return_button,
.sham_button{height: 40px; line-height: 40px; text-align: center; font-size: 16px; color: #fff !important;}
.return_button{width: 80px;}
.sham_button{width: 80px; line-height: 10px;background-color: #f39800; font-size: 12px;}
.dispose_button{display: block; width: 100%; background: #e4e4e4; position: fixed; bottom: 0; left: 0;}
.evaluate_button{display: block; margin-left: 80px; background: #17b297;}
.return_button{display: block; width: 80px; background: #e4e4e4;}
.dispose_button:HOVER,
.dispose_button:FOCUS,
.return_button:HOVER,
.return_button:FOCUS,
.evaluate_button:HOVER,
.evaluate_button:FOCUS{color: #fff;}
.am-modal .discretion{display: inline-block; color: #f39800; line-height: 35px; font-size: 14px; text-align: center;}
.am-modal .discretion-icon{float:left; width:25px; height:25px; margin: 5px; background:url(../images/state-icon.png) no-repeat; background-size: 25px 150px; background-position-y: -100px;}
.am-modal .inveracious-icon{float:left; width:25px; height:25px; margin: 5px; background:url(../images/state-icon.png) no-repeat; background-size: 25px 150px; background-position-y: -125px;}


























