/* Write your styles */
#wrapper{width: 100%; padding-top: 40px; padding-bottom: 50px;}
.am-list {margin: 0;}
.am-list>li {background: none; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8);}
.pull-action {text-align: center; height: 45px;	line-height: 45px; color: #999;}

.page .street-icon{display: inline-block; width: 25px; height: 25px; margin: 7.5px; background-image: url("../images/street_centre-icon.png"); background-size: 100px 250px; background-position-x: -50px;}
.page .await i.street-icon{background-position-y: -100px; float: left;}
.page .underway i.street-icon{background-position-y: -125px; float: left;}
.page .review i.street-icon{background-position-y: -150px; float: left;}
.page .accomplish i.street-icon{background-position-y: -175px; float: left;}
.page .await{color: #ff0000;}
.page .underway{color: #17b299 !important;}
.page .review{color: #f39800 !important;}
.page .accomplish{color: #999999 !important;}


.page .screen{background-color: #0099ff; width: 100%; position: fixed; top: 0; left: 0; z-index: 998;}
.page .screen:after{content:'';display:block;clear:both;height:0px;}
.page .screen .street-icon.screen_options{background-position-y: -25px;}
.page .screen .screen_input{height: 40px; margin-right: 80px; margin-left: 5px; padding: 5px 0;}
.page .screen .screen_input .screen_val{display: block !important; width: 100% !important; height: 30px !important; line-height: 30px !important; border-width: 0; background-color: #fff !important; border-radius: 5px !important; font-size: 12px !important;}
.page .screen .options_list{display: none; width: 100%; height: auto; padding: 10px 10px 0; position: fixed; top: 40px; left: 0; background-color: #fff; z-index: 999;}
.page .screen .options_list:before{position: absolute; top: -8px; right: 13px; font-size: 20px; color: #fff;}
.page .screen .options_list .line{padding-bottom: 10px; border-top: 1px solid #e4e4e4;}
.page .screen .options_list .line_title{line-height: 30px;}
.page .screen .options_list .line .am-thumbnails{padding-top: 5px; margin-left: -.5rem; margin-right: -.5rem;}
.page .screen .options_list .line .am-thumbnails:after{content:'';display:block;clear:both;height:0px;}
.page .screen .options_list .line .am-thumbnails li{padding-bottom: 5px; width: 33.3333%; float: left; padding: 0 .5rem .5rem .5rem;}
.page .screen .options_list .line .am-thumbnails li .options_button{display: block; line-height: 25px; text-align: center; border: 1px solid #e4e4e4; border-radius: 5px; color: #333333;}
.page .screen .options_list .line .am-thumbnails li .options_button.active{border-color: #0099ff; color: #0099ff; background-color: #e1f3ff;}

#html_content{padding-top: 10px;}
#html_content .panel{background: #fff; margin-bottom: 10px; padding: 0px 0 5px;}
#html_content .panel .panel_title{height: 40px; line-height: 30px; padding: 5px 10px; padding-left: 40px; margin-bottom: -1px; border-bottom: 1px solid #eee; position: relative;}
#html_content .panel .panel_title .user_head_portrait{display: block; width: 25px; height: 25px; margin: 2.5px; position: absolute; top: 5px; left: 10px; background:url(../images/record-icon.png) no-repeat; background-size: 100px 25px;}
#html_content .panel .line{margin: 0 10px; height: 40px; line-height: 30px; text-align: center; padding: 5px 0; border-top: 1px solid #eee;}
#html_content .panel .line .line_left{width: 70px; text-align: right; float: left; padding: 0 8px;}
#html_content .panel .line .line_right{margin-left: 70px; text-align: left;}
#html_content .panel .line .line_right img{width: 70px; height: 70px;}
#html_content .panel .line .line_right .merchant_grade .am-icon-star{color: #f8b62d;}
#html_content .panel .line .line_right .merchant_grade .am-icon-star.no{color: #9f9f9f;}
#html_content .panel .line .operation_button{display: inline-block; line-height: 20px; padding: 5px 15px; float: right; margin-left: 10px; border-radius: 5px; border: 1px solid #333333;}
#html_content .bottom_button{display: block; height: 50px; line-height: 50px; text-align: center; font-size: 16px;}
#html_content .bottom_button.button_left{width: 100%; float: left; background: #22ac37; color: #fff;}
#html_content .more_button{display: block; text-align: center; line-height: 35px; font-size: 14px; padding-bottom: 10px;}

#html_content .record-icon{display: block; width:25px; height:25px; background:url(../images/record-icon.png) no-repeat; background-size: 100px 25px;}
#html_content .dispose-icon{display: inline-block; float: left; margin-top: 2px; width:25px; height:25px; background-position-x: -25px;}
#html_content .false-icon{display: inline-block; float: left; margin-top: 2px; width:25px; height:25px; background-position-x: -50px;}

#html_content .not_available{width: 100%; text-align: center; padding: 70px 0; background: #fff;}

.count_down{font-size: 14px;}
.count_down .count_down_val{height: 24px; background-color: #323232; color: #fff; padding: 0 1px; float: left; margin: 3px 1px; line-height: 24px;}
.count_down .division{float: left;}
.count_down .second .count_down_val{background-color: #ff464e;}















